@inherits LayoutComponentBase
@inject NavigationManager _nav

<PageTitle>StarWarsSite</PageTitle>

<main>
    <RadzenCard class="menu mt-2">
        <RadzenMenu>
            <RadzenMenuItem Click='@(()=>_nav.NavigateTo(""))' Text="Home" Icon="home"/>
            <RadzenMenuItem Click='@(()=>_nav.NavigateTo("spaceship"))' Text="Your Spaceship" Icon="language"/>
        </RadzenMenu>
    </RadzenCard>
    @Body
</main>
