@using System.Globalization
<Modal @ref=modal>
    <ModalContent Centered Background="Background.Dark" TextColor="TextColor.White">
        <ModalHeader Style="border-bottom: 1px solid #6c757d;">
            <ModalTitle>@LabelsAndTexts.FirstOrDefault().Value</ModalTitle>
            <CloseButton TextColor="TextColor.White" />
        </ModalHeader>
        <ModalBody>
            @foreach (var labelAndTextPairs in LabelsAndTexts)
            {
                <Row Margin="Margin.Is5.OnX" Flex="Flex.JustifyContent.Between">
                    <Text TextWeight="TextWeight.Bold" Margin="Margin.Is1.FromEnd">@labelAndTextPairs.Key:</Text>
                    <Text>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(labelAndTextPairs.Value)</Text>
                </Row>
            }
        </ModalBody>
        <ModalFooter Style="border-top: 1px solid #6c757d;">
            <Button Color="Color.Primary" Clicked="@Hide">Close</Button>
        </ModalFooter>
    </ModalContent>
</Modal>