@inherits LayoutComponentBase

<div id="page">
    <main>
        <Layout>
            <LayoutHeader>
                <NavBar/>
            </LayoutHeader>
            <LayoutContent>
                @Body
            </LayoutContent>
            <LayoutFooter>
                <FooterBar/>
            </LayoutFooter>
        </Layout>
    </main>
</div>