@page "/characters"

<PageTitle>Characters</PageTitle>

<div id="root">
    <Container Fluid Margin="Margin.Is4.FromTop">
        <Row>
            <Virtualize Items="@characters" Context="character">
                <Column ColumnSize="ColumnSize.IsHalf.OnTablet.IsThird.OnDesktop.IsQuarter.OnWidescreen.IsFull">
                    <Card Class="character" Background="Background.Dark" WhiteText>
                        <CardImage Source="" Alt=@($"{character.Name} image") />
                        <CardBody>
                            <CardTitle Size="5">@character.Name</CardTitle>
                            <CardText>
                                <Text>@character.Description</Text>
                            </CardText>
                            <Button Color="Color.Primary">Learn More</Button>
                        </CardBody>
                    </Card>
                </Column>
            </Virtualize>
        </Row>
    </Container>
</div>