div#root { 
    height:100%;
    overflow:hidden;
    background: url(images/backgrounds/characters.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}