@page "/persons"
@using System.Globalization

<PageTitle>Persons</PageTitle>

<div id="root">
    <Container Margin="Margin.Is4.FromTop">
        @if (persons.Count == 0)
        {
            <div class="center-fixed">
                <SpinKit Type="SpinKitType.CircleFade" />
            </div>
        }
        <Row>
            @foreach (var person in persons)
            {
                <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnTablet.IsThird.OnDesktop.IsQuarter.OnWidescreen">
                    <Card @key="person.Name" Class="person shadow-lg" WhiteText
                    Margin="Margin.Is3.FromBottom">
                        <CardBody Class="card-body" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold">
                            <CardTitle Size="5">@person.Name</CardTitle>
                            <CardText>
                                <Text>@CultureInfo.CurrentCulture.TextInfo.ToTitleCase(person.Gender)</Text>
                            </CardText>
                            <Button Color="Color.Primary" Clicked="detailsModal.Show">Learn More</Button>
                        </CardBody>
                    </Card>
                </Column>
            }
        </Row>
    </Container>
    <DetailsModal @ref="detailsModal"/>
</div>