#root {
    height:100%;
    overflow-x:hidden;
    background: url(images/backgrounds/persons.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::deep .person {
    border-radius: 25px;
    background: url(images/person.jpg) no-repeat top center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}