@page "/persons"

<PageTitle>Persons</PageTitle>

<div id="root">
    <Container Fluid Margin="Margin.Is4.FromTop">
        @if (persons.Count == 0)
        {
            <div class="center-fixed">
                <SpinKit Type="SpinKitType.CircleFade" />
            </div>
        }
        <Row>
            @foreach (var person in persons)
            {
                <Column ColumnSize="ColumnSize.IsHalf.OnTablet.IsThird.OnDesktop.IsQuarter.OnWidescreen.IsFull">
                    <Card @key="person.Name" Class="person" WhiteText
                    Margin="Margin.Is3.FromBottom">
                        <CardBody TextAlignment="TextAlignment.Center" >
                            <CardTitle Size="5">@person.Name</CardTitle>
                            <CardText>
                                <Text>@person.Gender.ToUpperInvariant()</Text>
                            </CardText>
                            <Button Color="Color.Primary">Learn More</Button>
                        </CardBody>
                    </Card>
                </Column>
            }
        </Row>
    </Container>
</div>