@page "/persons"

<PageTitle>Persons</PageTitle>

<div id="root">
    <Container Margin="Margin.Is4.FromTop">
        @if (_persons.Count == 0)
        {
            <div class="center-fixed">
                <SpinKit Type="SpinKitType.CircleFade"/>
            </div>
        }
        <Row>
            @foreach (var person in _persons)
            {
                <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnTablet.IsThird.OnDesktop.IsQuarter.OnWidescreen">
                    <PersonCard Person="person" DetailsModal=_detailsModal/>
                </Column>
            }
        </Row>
    </Container>
    <DetailsModal @ref="_detailsModal"/>
</div>