@page "/planets"

<PageTitle>Planets</PageTitle>

<div id="root">
    <Container Fluid Margin="Margin.Is2.FromTop">
        <Row Flex="Flex.JustifyContent.Center" Margin="Margin.Is3.FromBottom">
            <Virtualize Items="@planets" Context="planet">
                    <Card Class="planet shadow-lg" Margin="Margin.Is2.OnX" Background="Background.Dark" WhiteText>
                        <CardImage Source="" Alt=@($"{planet.Name} image") />
                        <CardBody Flex="Flex.Column.JustifyContent.Between" Margin="Margin.IsAuto" TextAlignment="TextAlignment.Center">
                            <CardTitle Size="5">@planet.Name</CardTitle>
                            <CardText>
                                <Text>@planet.SolarSystem</Text>
                            </CardText>
                            <Button Class="button" Color="Color.Primary">Learn More</Button>
                        </CardBody>
                    </Card>
            </Virtualize>
        </Row>
    </Container>
</div>