@page "/planets"

<PageTitle>Planets</PageTitle>

<div id="root">
    <Container Margin="Margin.Is2.FromTop">
        @if (planets.Count == 0)
        {
            <div class="center-fixed">
                <SpinKit Type="SpinKitType.CircleFade" />
            </div>
        }
        <Row Flex="Flex.JustifyContent.Center" Margin="Margin.Is4.FromBottom">
            @foreach (var planet in planets)
            {
                <PlanetCard Planet=@planet DetailsModal=@detailsModal/>
            }
        </Row>
    </Container>
    <DetailsModal @ref=detailsModal />
</div>