div#root {
    height: 100%;
    overflow-x: hidden;
    background: url(images/backgrounds/planets.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

::deep .planet {
    overflow: hidden;
    border: 0;
    border-radius: 125px;
    height: 250px;
    width: 250px;
}

::deep .img {
    position: absolute;
    border-radius: 125px;
    width: 100%;
    height: 100%;
    transform: scale(1.16);
    z-index: 0;
    filter: brightness(75%);
}

::deep .card-body {
    height: 100%;
    z-index: 5;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}