@page "/planets"

<PageTitle>Planets</PageTitle>

<div id="root">
    <Container Fluid Margin="Margin.Is2.FromTop">
        @if (planets.Count == 0)
        {
            <div class="center-fixed">
                <SpinKit Type="SpinKitType.CircleFade" />
            </div>
        }
        <Row Flex="Flex.JustifyContent.Center" Margin="Margin.Is3.FromBottom">
            @foreach (var planet in planets)
            {
                <Card Class="planet shadow-lg" Margin="Margin.Is2.OnX" Background="Background.Dark" WhiteText>
                    <CardImage Class="img" Source="images/planet.jpg" Alt=@($"{planet.Name} image") />
                    <CardBody Flex="Flex.Column.JustifyContent.Around" Margin="Margin.IsAuto"
                    TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold">
                        <CardTitle Size="5">@planet.Name</CardTitle>
                        <CardText>
                            <Text>Population:</Text>
                            <br />
                            <Text>@planet.Population</Text>
                        </CardText>
                        <Button Class="button" Color="Color.Primary" Clicked="_detailsModal.Show">Visit</Button>
                    </CardBody>
                </Card>
            }
        </Row>
    </Container>
    <Details @ref=_detailsModal />
</div>