@page "/vehicles-and-starships"

<PageTitle>Vehicles and Starships</PageTitle>

<div id="root">
    <Container Margin="Margin.Is2.FromTop">
        @if (_vehiclesAndStarships.Count == 0)
        {
            <div class="center-fixed">
                <SpinKit Type="SpinKitType.CircleFade"/>
            </div>
        }
        <Row Flex="Flex.JustifyContent.Center" Margin="Margin.Is4.FromBottom">
            @foreach (var vehicleOrStarship in _vehiclesAndStarships)
            {
                <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnTablet.IsThird.OnDesktop.IsQuarter.OnWidescreen">
                    @switch (vehicleOrStarship)
                    {
                        case Vehicle vehicle:
                            <VehicleCard Vehicle=@(vehicle) DetailsModal=@_detailsModal/>
                            break;
                        case Starship starship:
                            <StarshipCard Starship=@(starship) DetailsModal=@_detailsModal/>
                            break;
                    }
                </Column>
            }
        </Row>
    </Container>
    <DetailsModal @ref="_detailsModal"/>
</div>