div#root {
    height: 100%;
    overflow-x: hidden;
    background: url(images/backgrounds/vehicles-and-starships.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}